* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    background: #fff; /* col background */
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.font-heading {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

a, a:visited, a:focus {
    color: #2196f3; /* col primary */
    text-decoration: none;
}

a:hover {
    color: #1976d2; /* col primary dark */
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.palette-set {
    padding: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
    border: thin solid #dcdcdc;
    border-radius: 0.5rem;
}

.palette-title {
    font-size: 2.2rem;
}

.palette-swatches {
    display: flex;
}

.palette-swatch {
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    border: thin solid #808080;
}

.swatch-value {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}